<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container">

    <a class="navbar-brand fw-bold fs-3 text-primary" href="index.html">KwikPesa</a>
<div class="col-lg-6 text-lg-end mt-4 mt-lg-0">
                    <img src="assets/images/pay2.jpg" >
                </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item"><a class="nav-link text-dark" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link text-dark" href="pages/pricing.html">Pricing</a></li>
        <li class="nav-item"><a class="nav-link text-dark" href="pages/contact.html">Contact</a></li>
        <li class="nav-item"><a class="nav-link text-dark" href="auth/login.html">Login</a></li>
        <li class="nav-item">
          <a class="btn btn-primary ms-lg-3 px-4 py-2" href="auth/register.html">Get Started</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
